
$background: #004643;
$stroke: #001e1d;
$highlight: #f9bc60;
$secondary: #abd1c6;
$tertiary: #e16162;
$heading: #fffffe;
$paragraph: #abd1c6;
$button: $highlight;
$button-text: $heading;


body {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans HK', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        color: $heading;
        margin-bottom: 1em;
        margin-top: 2em;
    }

    h1 {
        margin-top: 0;
    }
    
    p, label {
        color: $paragraph;
    }

    hr {
        border-color: $stroke;
    }

    text {
        fill: $paragraph;
        font-size: small;
    }

    .recharts-reference-line {
        text {
            fill: #C98BBE;
        }
    }
    
    a {
        color: $secondary
    }

    #root {
        width: 100vw; min-height: 100vh;
        background-color: $background;
        margin: 0; padding: 0;

        .body {
            margin: 0 12em; padding: 6em 2em;

            .options {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 1em;
                flex-wrap: wrap;

                > div {
                    display: flex; flex-direction: row;
                    align-items: center;
                    margin-right: 3em;

                    select {
                        margin-left: 2em !important;
                        font-size: 115%;
                    }
                }
            }

            .card {
                border: 2px solid $stroke;
                border-radius: 5px;
                padding: 0.75rem 1.75rem;
                margin-bottom: 1.5em;
            
                a {
                    svg {
                        margin-left: 0.5rem;
                    }
                }

                .card-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px dotted $stroke;

                    a { color: $highlight }

                    > div {
                        padding: 1em 0;

                        p {
                            margin: 0 0 0.5rem 0; padding: 0;
                        }
                    }
                }
            
                .card-body {
                    margin: 1em 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
            
                    .inputs-box-column {
                        display: flex; align-items: flex-end;
                        flex-direction: column;
            
                        > div {
                            display: flex; align-items: center; margin: 2px;
                        }
            
                        input[type="checkbox"] {
                            margin-left: 2em !important;
                        }
            
                        svg {
                            margin-left: 2em !important;
                            color: $highlight;
                            width: 0.75em; height: 0.75em;
                            border: 2px solid $paragraph;
                            padding: 2px;
                        }
            
                        svg.unchecked {
                            color: $tertiary !important;
                        }
                    }
                }
            }
            
            .header {
            
                h2 {
                    margin-top: 0;
                }
            
                h3 {
                    text-align: right;
                    margin-bottom: 0;
                }
            }

            .loader {
                display: flex;
                justify-content: center; align-items: flex-end;
                width: 100%; height: 8em;
                color: $paragraph;
            }

            .scatter {
                width: 44em;
                height: 40em;
                margin-bottom: 6em;
            }

            .distribution {
                width: 44em;
                height: 16em;
                margin-bottom: 6em;
            }

            .stats {
                width: 100%;
                margin-bottom: 2em;

                table {
                    border-collapse: collapse;

                    tr {
                        td:first-child {
                            color: white;
                            padding-right: 2em;
                        }

                        td:last-child {
                            color: $paragraph;
                        }
                    }
                }
            }

        }
    }
}

@media screen and ( max-width: 1100px ) {
    .body {
        margin: 0 1em !important;
        
        .options {
            justify-content: left;

            > div {
                min-width: 400px;
                padding-bottom: 0.5em;
            }
        }

        .scatter {
            max-width: 100%;
            height: 32em !important;
        }

        .distribution {
            max-width: 100%;
            height: 16em;
        }
    }


}

@media screen and ( max-width: 600px ) {
    .body {
        margin: 0 !important;

        .options {
            > div {
                min-width: 100%;
                justify-content: space-between;
                padding-right: 2em;
            }
        }

        .scatter {
            height: 22em !important;
        };

    }
}
